<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %} {% endblock %}</title>
        <link
            rel="icon"
            href="https://cdn.jsdelivr.net/gh/spaceoceanoutlook/static-assets@master/images/films/favicon.png"
            type="image/png"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body>
        <div class="fixed-header">
            <p>
                <a
                    href="/"
                    style="
                        font-size: 30px;
                        font-weight: bold;
                        margin-right: 50px;
                    "
                    >spaceocean</a
                >
                {% block header_links %} {% for genre in genres %}
                <a href="/genres/{{ genre.name | urlencode }}/"
                    >{{ genre.name }}</a
                >
                {% endfor %} {% endblock %}
                <a href="/series/">Сериалы</a>
                <input
                    type="text"
                    placeholder="Поиск..."
                    style="
                        margin-left: 50px;
                        padding: 5px 10px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        font-size: 16px;
                    "
                />
                <a href="/login/" class="auth-button">Войти</a>
            </p>
        </div>

        {% block content %} {% endblock %}
    </body>
</html>
