<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %} {% endblock %}</title>
        <link
            rel="icon"
            href="https://cdn.jsdelivr.net/gh/spaceoceanoutlook/static-assets@master/images/films/favicon.png"
            type="image/png"
        />
        <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body>
        <div class="fixed-header">
            <p>
                <a href="/" style="font-size: 20px; font-weight: bold"
                    >Главная</a
                >
                {% block header_links %} {% for genre in genres %}
                <a href="/genres/{{ genre.name | urlencode }}/"
                    >{{ genre.name }}</a
                >
                {% endfor %} {% endblock %}
                <a href="/series/">Сериалы</a>
            </p>
        </div>

        {% block content %} {% endblock %}
    </body>
</html>
