{% extends "base.html" %} {% block title %}Фильмы и Сериалы{% endblock %}
{%block content %} {% for film in films %}
<div class="film-card">
    <a href="/film/{{ film.id }}">
        <img
            src="https://cdn.jsdelivr.net/gh/spaceoceanoutlook/static-assets@master/images/films/{{ film.photo }}"
            alt="{{ film.title }}"
        />
        <div class="film-content">
            <h2>{{ film.title }}</h2>
        </div>
    </a>
    <div class="film-content">
        <p class="year">
            Год:
            <a href="/years/{{ film.year }}">{{ film.year }}</a>
        <p class="rating">
        Рейтинг: <b>{{ film.rating }}</b></p>
        </p>
    </div>
</div>
{% endfor %} {% endblock %}
