*.pyc
*.pyo
*.pyd
__pycache__/
*.so
.venv/
env/
venv/
.ruff_cache/
.ropeproject/
pytest_cache/
.mypy_cache/
.cache/
*.log
.git
.gitignore
.vscode/
.idea/
.env
.env.*
backup/
docker-compose.yml
Dockerfile
.ruff.toml
