body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-top: 60px;
}
a {
    color: #3498db;
    font-size: 18px;
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 3px;
}
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 1000;
    padding: 20px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.film-card {
    background-color: #fff;
    margin-top: 90px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 250px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.film-card img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    display: block;
}
.film-content {
    padding: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.film-content h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #333;
}
.film-content p {
    margin-bottom: 5px;
    color: #666;
    line-height: 1.4;
}
.film-content .rating,
.film-content .year,
.film-content .genres,
.film-content .countries {
    font-size: 0.9em;
    color: #888;
    margin-top: auto;
}
.film-content .rating b {
    color: #3bb33b;
}
.film-content .year a,
.film-content .genres a,
.film-content .countries a {
    display: inline-block;
    background-color: #e0e0e0;
    border-radius: 3px;
    padding: 3px 7px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #333;
    text-decoration: none;
    font-size: 0.9em;
    transition: background-color 0.2s;
}
.film-content .year a:hover,
.film-content .genres a:hover,
.film-content .countries a:hover {
    background-color: #d5d5d5;
}
.film-card-detail {
    display: flex;
    align-items: flex-start;
    margin: 20px auto;
    border: 1px solid #ddd;
    padding: 5px;
    margin-top: 90px;
    border-radius: 8px;
    max-width: 900px;
}
.film-card-detail img {
    width: 300px;
    height: auto;
    margin-right: 15px;
    border-radius: 4px;
}
.auth-button {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin-left: 70px;
}
.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px 0;
    min-height: 50px;
    width: 100%;
}

.paginator a,
.paginator span {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #333;
}

.paginator span {
    background: #007bff;
    color: white;
    border-color: #007bff;
}
